@import '@fontsource/fira-mono';

@import "tailwindcss";


@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "triduidark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.186 0.006 285.9);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(21% 0.006 285.885);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(67% 0.182 276.935);
  --color-primary-content: oklch(25% 0.09 281.288);
  --color-secondary: oklch(70% 0.165 254.624);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(74% 0.16 232.661);
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "triduilight";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.97 0.005 285.9);
  --color-base-200: oklch(0.93 0.006 285.823);
  --color-base-300: oklch(0.88 0.007 285.885);
  --color-base-content: oklch(0.15 0.008 285.9);
  --color-primary: oklch(0.60 0.18 276.935);
  --color-primary-content: oklch(0.98 0.01 281.288);
  --color-secondary: oklch(0.68 0.16 254.624);
  --color-secondary-content: oklch(0.98 0.01 267.935);
  --color-accent: oklch(0.74 0.15 232.661);
  --color-accent-content: oklch(0.12 0.02 243.157);
  --color-neutral: oklch(0.88 0.01 286.033);
  --color-neutral-content: oklch(0.12 0.005 247.839);
  --color-info: oklch(0.63 0.13 211.53);
  --color-info-content: oklch(0.98 0.02 229.695);
  --color-success: oklch(0.58 0.15 151.711);
  --color-success-content: oklch(0.98 0.02 152.934);
  --color-warning: oklch(0.70 0.14 91.605);
  --color-warning-content: oklch(0.18 0.05 45.635);
  --color-error: oklch(0.60 0.16 13.428);
  --color-error-content: oklch(0.98 0.03 3.907);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}




html,
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  border-radius: var(--rounded-lg);
  overflow: hidden; 
  /* background-color: transparent !important; */
}

a,
img,
.user-no-drag {
  -webkit-user-drag: none;
  user-drag: none;
  --moz-user-drag: none;
  -ms-user-drag: none;
}

.user-dragging {
  -webkit-user-drag: unset !important;
  user-drag: unset !important;
  --moz-user-drag: unset !important;
  -ms-user-drag: unset !important;
}

